# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage and test output
lib-cov
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/
web_modules/
bower_components

# Build directories
dist
dist-ssr
out
.next
.nuxt
.vuepress/dist

# Cache and temp directories
.cache
.parcel-cache
.eslintcache
.stylelintcache
.rpt2_cache*/
.rts2_cache*/
.temp
.fusebox/

# Editor and IDE files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Package output
*.tgz

# Yarn Integrity file
.yarn-integrity

# Dotenv environment files
*.env
*.local

# Docusaurus files
.docusaurus

# Serverless directories
.serverless/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# typescript build artifacts
*.tsbuildinfo